/*棣栭〉鏍峰紡 */

/*涓昏儗鏅�*/
body{
    background-image:url("../../img/background_index_old.png");
    background-repeat: no-repeat;
}
html,body{
    width:1280px;
    height:1024px;
}
/*鍦堝嚭鐣岄潰澶у皬*/
.main{
    text-align: center;
    width:1280px;
    height:1024px;
}
/*鏃堕棿鏄剧ず*/
.showDate{
    margin-top: 60px;
}
.date{
    font-size: 35px;
    color: #8bc816;
    letter-spacing: 12px;
    left: 300px;
    top:100px;
    position: absolute;
}

.area{
    position: absolute;
    list-style: none;
}

.area li{
   float:left;
}

#area_top{
    left:140px;
    top: 400px;
    line-height: 180px;
}

#area_bottom{
    left:140px;
    top: 600px;
    line-height: 180px;
}

   .page-header{
            position: absolute;
            left : 190px;
            top : 230px;
            width: 200px;
        }
#searchClass{
	position: absolute;
    left : 470px;
    top : 270px;
    height: 50px;
    width: 400px;
}
.searchBtu{
	position: absolute;
    left : 900px;
    top : 265px;
}
         .numberTable td{
            border:1px solid #2aabd2;
            cursor: pointer;
            width: 325px;
            height: 100px;
            font-size: 45px;
        }
        .unmberkey{
	       	 position: absolute;
	       	 left:140px;
	   		 top: 400px;
        }